.App{
  background-color: #d9dbd5;
  height: 100vh;
  width: 100vw;
  overflow-y: hidden;
}

.upperBackgroundBar{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 127px;
  background-color: #009688;
}